<img src="./images/nyt.jpg" class = "w-100" alt="NYT Banner">
<div class="container">

  <div class="row">
    <h1 class="col-10 text-center bg-warning p-4 mx-auto">NYT Web Scraper...Mongo and Handlebars edition</h1>
  </div>

  <div class="row">
    <!-- <img src="..." class="card-img-top" alt="..."> -->
    {{#each articles}}
      <div class="card col-5 p-3 my-2 mx-auto">
        <div class="card-body">
          <h5 class="card-title">{{title}}</h5>
          <a href="https://www.nytimes.com/{{link}}">article link</a>
          <p class="card-text"><small class="text-muted">{{summary}}</small></p>

          <p>{{_id}}</p>
<button data-id="{{_id}}"type="button" id="savenote" name="button" id= "noteButton" class="btn btn-warning">Write Note</button>
        </div>
      </div>
    {{/each}}

  </div>

</div>
